/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/s

-tam/
.dirstamp
*.o
*~h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~

stamp-h1
compile
autoscan.log
configure.scan
lib/sqlite/sqlite3
lib/sqlite/config.log
lib/sqlite/autom4te.cache/
src/HelloWorld

